version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: job_automation_n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=Asia/Calcutta
    volumes:
      - n8n_data:/home/node/.n8n
    extra_hosts:
      - "host.docker.internal:host-gateway" # Allows n8n to reach the Python API running on the host

volumes:
  n8n_data:
